<div>
  <div class="has-text-centered">
    <h1 class="title">
      Hello Candidate
    </h1>

    <p class="subtitle">
      Here's a quick review of what we're looking for.
      <strong>Good Luck</strong>!
    </p>
  </div>

  <section class="info section">
    <div class="container">
      <p>
        In this project, we have provided a skeleton service to perform HTTP requests, some bootstrap styling and basic routing. You'll need to review the architecture.
        There should be enough structure and comments provided for you to finish this on your own, but if you have questions we should be available.
        This is a ultimately a test on how you interpret code and add functionality to it.
      </p>

      <p>
        If you’re not comfortable with Angular 1, you may use Angular 2/4, React, Vue or your own vanilla JS approach. Just be sure it runs with no errors and is transpiled to run in all major browsers.  You'll obviously have to change the project structure, please follow a similar approach in the provided code.
        Be prepared to discuss your approach and how it can impact the project in the future.
      </p>

      <p>
        Angular 1.5+ does provide a component interface similar to other modern frameworks, an example of its implementation is provided for you in the project source.  Keep in mind this should only take <strong>1-2 hours</strong>.
      </p>

      <div class="info__btn">
        <a ui-sref="leaderboard" class="button is-primary">
          Go to leaderboards
        </a>
      </div>

    </div>

    </div>
  </section>

</div>
